## this file is for existed reference annotation load
## If you don't want SV to be annotated by a comment resource, you can add "##" before the comment resource like following line:
## reference_sample_1

genome_RefSeq
#genome_GEncode
#genome_knownGene
#CytoBand
EnhancerAtlas_ENSEMAL
EnhancerAtlas_RefSeq
GeneHancer
CuratedKnownSV
TAD
Repeat