[[annotation]]
file="/Users/pwj/Desktop/SV/annotation/sdfa/multi_resource_annotation/convertedCCF/RefGene/kggseqv1.1_hg38_refGene.txt.gz.ccf"
type="genome"

[[annotation]]
file="/Users/pwj/Downloads/annotation/CytoBand/GRCH38_cytoBand.ccf"
type="interval"
fields=["name,gieStain"]
names=["Cytoband::Tag"]
opts=["concat"]

[[annotation]]
file="/Users/pwj/Downloads/annotation/Regulated_element/EA_RefSeq_GRCh38.sorted.ccf"
type="interval"
fields=["TYPE,GENES"]
names=["EnhanceAtlas::Tag"]
opts=["concat"]

[[annotation]]
file="/Users/pwj/Downloads/annotation/SVAFotate/SVAFotate_core_SV_popAFs.GRCh38.ccf"
type="svdatabase"
fields=["SOURCE,SV_ID","AF"]
names=["SVAFotate::Tag","SVAFotate::AF"]
opts=["concat","concat"]

[[annotation]]
file="/Users/pwj/Desktop/SV/annotation/sdfa/multi_resource_annotation/注释文件/resource/20211015_Gap.sorted.bed"
type="interval"
fields=["Gap"]
names=["Gap"]
opts=["concat"]

[[annotation]]
file="/Users/pwj/Desktop/SV/annotation/sdfa/multi_resource_annotation/注释文件/resource/20211015_SegDup.sorted.bed"
type="interval"
fields=["SegDup"]
names=["SegDup"]
opts=["concat"]

[[annotation]]
file="/Users/pwj/Downloads/annotation/Regulated_element/GRCh38_GeneHancer_regulatory_tissue_sorted.ccf"
type="interval"
fields=["#HGid,RegulatoryType"]
names=["GeneHancer::ID"]
opts=["concat"]


